app = 'zion-api'
primary_region = 'gru'

[build]
[build.args]
GO_VERSION = '1.25.5'

[env]
PORT = '8080'
TIGRIS_PUBLIC_URL_BASE = 'https://zion-assets.t3.storage.dev'

[http_service]
internal_port = 8000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
